.review-container{
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  /* flex-wrap: nowrap; */
}
.review-container .triangle-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(255, 255, 255);
  margin-top: 10px;
  
  z-index: 999;
}
.review-container .review-title{
  font-size: 20px;
  font-weight: bold;
  color: #6da2e9;
  margin-bottom: 5px;
  
}
.review-container .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #6da2e9;
  margin-right: 10px;
  margin-top: 10px;
}
.review-container .review-content {
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 0 12px rgba(197, 198, 198, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.review-container .review-rating{
  position: absolute;
  top: 8%;
  right: 5%;
}