@font-face {
    font-family: 'Nura';
    src: url('./assets/fonts/Nura-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --main-font:'Nura', sans-serif;
    --main-color:rgb(255, 255, 255);
    --secondary-color:rgb(83, 137, 254);
    --third-color:rgb(99, 3, 189);

}

#root{
    font-family:var(--main-font);
    font-weight: bold;

    margin:0;
    padding:0;
    box-sizing:border-box;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-x: hidden;
  }
  
a{
    cursor: pointer;
}
